@import "../../styles/variables.scss";

.models-section {
    color: $secondaryColor;
    background-color: $primaryColor;
}
.models__grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.heading-container {
    background-color: $secondaryColor;
    width: 80%;
    margin-top: 73px;
    padding: 13px;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
.heading-container__title {
    color: $primaryColor;
    margin: 0;
    font-size: 1.8rem;
    font-family: $mainFont;
}
table {
    border-collapse: collapse;
    width: 95%;
}
tr {
    font-size: 0.65rem;
}
th {
    font-weight: normal;
}
table td, table th {
    border: 1px solid #FFF;
}
table tr:first-child th {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}
.model-section__bike-container {
    @include display-flex-column;
    width: 60%;
    height: 100%;
    margin-top: 50px;
}
.bike-container__photo {
    width: 70%;
    margin-top: 0;
}
.bike-container__table {
    @include display-flex-column;
    margin-bottom: 30px;
    width: 100%;
}
.bike-container__name {
    margin-top: 0px;
    margin-bottom: 40px;
    font-family: $mainFont;
    text-align: center;
}
.bike-container__description {
    width: 70%;
    margin-bottom: 30px;
    text-align: justify;
    font-family: $mainFont;
}
.bike-container__specification {
    padding: 15px;
    margin: 0 auto;
    width: 100%;
    background-color: $thirdaryColor;
    font-family: $mainFont;
}
.specification_detail {
    @include display-flex-row;
    justify-content: unset;
    padding-left: 20px;
    cursor: pointer;
}
.detail__container {
    width: 90%;
}
.detail__title {
    margin: 0;
    font-family: $mainFont;
}
.Collapsible {
    width: 100%;
}
.Collapsible__contentOuter {
    width: 100%;
}
.Collapsible__contentInner {
    margin-top: 20px;
    padding:0;
    width: 80%;
}
@media screen and (min-width: 450px) {
    .heading-container {
        width: 55%;
    }
}
@media screen and (max-width: 700px) {
    .heading-container {
        width: 60%;
    }
    .models__grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .model-section__bike-container {
        width: 100%;
    }
    .bike-container__photo {
        width: 50%;
        margin-top: 0;
}
}
@media screen and (min-width: 700px) {
    .heading-container {
        width: 30%;
    }
    tr {
        font-size: 0.80rem;
    }
    .model-section__bike-container {
        width: 100%;
    }
}
@media screen and (min-width: 900px) {
    .heading-container {
        width: 35%;
    }
    .bike-container__photo {
        width: 50%;
        height: 15%;
    }
    .bike-container__description {
        font-size: 1.4rem;
        line-height: 2.6rem;
    }
}
@media screen and (min-width: 1100px) {
    .heading-container {
        width: 35%;
    }
    .bike-container__photo {
        width: 50%;
    }
    tr {
        font-size: 0.95rem;
    }
}
@media screen and (min-width: 1200px) {
    .heading-container {
        width: 35%;
    }
    .bike-container__specification {
        width: 70%;
        margin-top: 30px;
    }
}
