@import "../../styles/variables.scss";

.models-section {
    color: $secondaryColor;
    background-color: $primaryColor;
}
.heading-container {
    background-color: $secondaryColor;
    width: 60%;
    margin-top: 73px;
    padding: 13px;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
.heading-container__title {
    color: $primaryColor;
    margin: 0;
    font-size: 1.8rem;
    font-family: $mainFont;
}
.model-section__bike-container {
    @include display-flex-column;
    width: 100%;
    margin-top: 50px;
}
.bike-container__photo {
    width: 80%;
}
.bike-container__table {
    @include display-flex-column;
    margin-bottom: 30px;
    width: 100%;
}
.bike-container__name {
    margin-top: 0px;
    margin-bottom: 40px;
    font-family: $mainFont;
    text-align: center;
}
.bike-container__description {
    width: 70%;
    margin-bottom: 30px;
    text-align: justify;
    font-family: $mainFont;
}
.bike-container__specification {
    padding: 15px;
    width: 100%;
    background-color: $thirdaryColor;
    font-family: $mainFont;
}
.specification_detail {
    @include display-flex-row;
    justify-content: unset;
    padding-left: 20px;
    cursor: pointer;
}
.detail__container {
    width: 90%;
}
.detail__title {
    margin: 0;
    font-family: $mainFont;
}
.Collapsible {
    width: 100%;
}
.Collapsible__contentOuter {
    width: 100%;
}
.Collapsible__contentInner {
    margin-top: 20px;
    padding:0;
    width: 80%;
}
@media screen and (min-width: 450px) {
    .heading-container {
        width: 40%;
    }
}
@media screen and (min-width: 700px) {
    .heading-container {
        width: 30%;
    }
    .bike-container__photo {
        width: 50%;
    }
}
@media screen and (min-width: 900px) {
    .heading-container {
        width: 25%;
    }
    .bike-container__photo {
        width: 40%;
    }
}
@media screen and (min-width: 1100px) {
    .heading-container {
        width: 20%;
    }
    .bike-container__photo {
        width: 30%;
    }
}
@media screen and (min-width: 1200px) {
    .heading-container {
        width: 15%;
    }
}
