@import "../../styles/variables.scss";

.models-section {
    color: $secondaryColor;
    background-color: $primaryColor;
}
.heading-container {
    background-color: $secondaryColor;
    width: 50%;
    margin-top: 73px;
    padding: 10px;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
.heading-container__title {
    color: $primaryColor;
    margin: 0;
}
.model-section__bike-container {
    @include display-flex-column;
    width: 100%;
    margin-top: 50px;
}
.bike-container__photo {
    width: 80%;
}
.bike-container__table {
    margin-bottom: 30px;
}
.bike-container__name {
    margin-top: 0px;
    font-family: $mainFont;
    
    margin-bottom: 40px;
}
.bike-container__specification {
    padding: 15px;
    width: 100%;
    margin: 0;
    background-color: $thirdaryColor;
    font-family: $mainFont;
}
.specification_detail {
    @include display-flex-row;
    justify-content: unset;
}
.detail__arrow {
    margin-right: 30px;
    width: 40px;
}
.detail__title {
    margin: 0;
    font-family: $mainFont;
}