@import "../../styles/variables.scss";

.about-us {
    @include display-flex-column;
    padding-top: 40px;
    background-color: $primaryColor;
}
.about-us__gallery {
    @include display-flex-row;
    width: 90%;
    margin-left: 20px;
}
.gallery__container {
    @include display-flex-column;
    height: 100%;
    align-items: flex-end;
}
.gallery__first-bike {
    height: 240px;
}
.gallery__second-bike {
    margin-bottom: 19px;
}
.gallery__second-bike, .gallery__third-bike{
    height: 110px;
}
.about-us__description {
    @include display-flex-column;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 15px;
    margin-right: 15px;
    font-family: $mainFont;
    color: $secondaryColor;
    border-right: 3px solid $secondaryColor;
}
.description__title {
    width: 90%;
    text-align: right;
    font-family: $mainFont;
}
.description__text {
    width: 90%;
    text-align: right;
}