@import "../../styles/variables.scss";

.about-us {
    @include display-flex-column;
    padding-top: 40px;
    background-color: $primaryColor;
}
.about-us__gallery {
    @include display-flex-row;
    width: 90%;
}
.about-us__gallery-image {
    height: 100%;
}
.about-us__description {
    @include display-flex-column;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 15px;
    margin-right: 15px;
    font-family: $mainFont;
    color: $secondaryColor;
    border-right: 3px solid $secondaryColor;
}
.description__title {
    width: 90%;
    text-align: right;
    font-family: $mainFont;
}
.description__text {
    width: 90%;
    text-align: right;
}

@media screen and (min-width: 485px) {
    .gallery__first-bike {
        height: 340px;
    }
    .gallery__second-bike, .gallery__third-bike{
        height: 160px;
    }
    .gallery__container {
        margin-right: 20px;
    }
}
@media screen and (min-width: 626px) {
    .gallery__container {
        margin-right: 40px;
    }
}

@media screen and (min-width: 760px) {
    .gallery__first-bike {
        height: 475px;
    }
    .gallery__second-bike, .gallery__third-bike{
        height: 270px;
    }
    .gallery__container {
        margin-right: 80px;
    }
}