@import "../../styles/variables.scss";

input, textarea {
    background-color: #383737ed;
}
.contact-section {
    @include display-flex-column;
    height: 100%;
    font-size: 1.3rem;
    font-family: $mainFont;
    letter-spacing: 0.5px;
}
.contact-section__logo {
    width: 200px;
    margin-top: 150px;
    margin-bottom: 50px;
}
.contact-section__contact-details {
    @include display-flex-row;
    width: 90%;
    color: white;
}
.contact-details {
    @include display-flex-column;
    width: 50%;
    margin: 0;
    padding: 0;
    color: $secondaryColor;
    font-size: 1.2rem;
    font-family: $mainFont;
}
.contact-details__contact-detail {
    font-size: 0.8rem;
    margin-left: 5px;
    letter-spacing: 2px;
    font-weight: 200;
}
.contact-section__allegro-logo {
    margin-bottom: 100px;
    margin-top: 100px;
}
@media screen and (max-width: 650px) {
    .contact-section__contact-details {
        @include display-flex-column;
        width: 90%;
    }
    .contact-details {
        width: 100%;
        font-size: 1.2rem;
    }
    .contact-section__allegro-logo {
        padding-bottom: 70px;
    }
    .contact-details--container {
        margin-bottom: 40px;
    }
}