@import "../../styles/variables.scss";

.form {
    @include display-flex-column;
    margin-top: 130px;
    width: 50%;
}
.form__input_container {
    @include display-flex-column;
    label {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: left;
    }
    input {
        width: 285px;
        border-radius: 4px;
        border: none;
        font-size: 0.8rem;
        background-color: #383737ed;
        color: #FFFFFF;
    }
    textarea {
        width: 285px;        
        border-radius: 4px;
        border: none;
        background-color: #383737ed;
        font-size: 0.8rem;
        color: #FFFFFF;
    }
}
.submit_btn {
    margin-top: 15px;
}

