@import '../../styles/variables.scss';

.header {
    background: $thirdaryColor;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100vw;
}
.header__nav {
    margin: 0 auto;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav__logo {
    width: 86px;
}

@media screen and (min-width: 1240px) {
    .header__nav { 
      align-items: center;
    }
}