@import "../../styles/variables.scss";

.services-section {
    @include display-flex-column;
    margin: 0;
    padding-top: 100px;
    height: 100vh;
}
.services-section_list-container {
    width: 90%;
    padding-top: 26px;
    padding-bottom: 26px;
    border-left: 3px solid $secondaryColor;
}
.services-section__heading {
    margin-left: 20px;
    color: $secondaryColor;
    font-family: $mainFont;
}
.services-section__services-list {
    width: 90%;
    list-style-type: none;
}
.specification_detail {
    @include display-flex-row;
    justify-content: unset;
}
.detail__title {
    margin: 0;
    color: $secondaryColor;
    font-family: $mainFont;
}
.services-section__services-description {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    color: $secondaryColor;
    text-align: left;
    font-family: $mainFont;
}